@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"); */



*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --c-grey-100: #f4f6f8;
  --c-grey-200: #e3e3e3;
  --c-grey-300: #b2b2b2;
  --c-grey-400: #7b7b7b;
  --c-grey-500: #3d3d3d;

  --c-blue-500: #688afd;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
}